<div class="search-bar">
    <form action="/api/user/searchUser" method="POST" class="form-inline justify-content-center">
        <input type="text" name="searchTerm" class="form-control mr-2" placeholder="Search by Name or Email" required>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
